.Rproj.user
.Rhistory
.RData
.Ruserdata

README.Rmd
README_files/
references.bib

data/ignore

code/archive

output/ignore

# Ignore rendered methods-results doc, which is large
docs/methods-results.html
docs/encrypt.R