# Ignore R-specific memory files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all word docs
*.docx

# Ignore rendered methods-results doc, which may be large.
methods-results/*.html

# Old code files archived on individual local repos
code/archive
code/ignore

# Output files on Dropbox
output/ignore
output/archive
output/print-figures

# Original or sensitive data sources on Dropbox
data/sources
data/ignore

